html,
body {
    /* height: 100%; */
    margin: 0;
    width: 700px;
    height: 500px;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
    /* padding: 12px; */
}

/* navbar styles */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover:not(.active) {
    background-color: #111;
}
  
.active {
    background-color: #04AA6D;
}
img {
    padding-top: 6px;
    width: 50px;
    height: auto;
}
.no-style {
    list-style-type: none;
}
.notes {
    display: flex;
    height: 50%;
}

.notes * {
    font-family: sans-serif;
}

.notes__sidebar {
    border-right: 2px solid #dddddd;
    flex-shrink: 0;
    overflow-y: auto;
    padding: 1em;
    width: 300px;
    height: 100vh;
}

.notes__add {
    background: #009578;
    border: none;
    border-radius: 7px;
    color: #ffffff;
    cursor: pointer;
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 1em;
    padding: 0.75em 0;
    width: 100%;
    /* padding: 8px;
    margin-top: 2.5px;
    color: white;
    font-weight: bolder;
    border-radius: 2px; */
}

.notes__add:hover {
    background: #00af8c;
}

.notes__list-item {
    cursor: pointer;
}

.notes__list-item--selected {
    background: #eeeeee;
    border-radius: 7px;
    font-weight: bold;
}

.notes__small-title,
.notes__small-updated {
    padding: 10px;
}

.notes__small-title {
    font-size: 1.2em;
}

.notes__small-body {
    padding: 0 10px;
}

.notes__small-updated {
    color: #aaaaaa;
    font-style: italic;
    text-align: right;
}

.notes__preview {
    display: flex;
    flex-direction: column;
    padding: 2em 3em;
    flex-grow: 1;
}

.notes__title,
.notes__body {
    border: none;
    outline: none;
    width: 100%;
}

.notes__title {
    font-size: 3em;
    font-weight: bold;
}

.notes__body {
    flex-grow: 1;
    font-size: 1.2em;
    line-height: 1.5;
    margin-top: 2em;
    resize: none;
    /* updated part */
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 2.5px;
    border: solid 1px black;
    border-radius: 2px;
    width: 300px;
    height: 45px;
}
